.blockModal{
  position: relative;
  display:none
}
h1{
  position: absolute;
  width: 214px;
  height: 33px;
  left: 351px;
  top: 288px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  font-feature-settings: 'tnum' on, 'lnum' on;

  color: #373737;
}
p.text{
  position: absolute;
  width: 744px;
  height: 309px;
  left: 351px;
  top: 318px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'tnum' on, 'lnum' on;

  color: #373737;
}
span {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 270px;
    left: 1058px;
    width: 20px;
    height: 20px;
    color: black;
  cursor: pointer;
}
.Accept{
  position: absolute;
  width: 134px;
  height: 48px;
  left: 809px;
  top: 652px;

  background: #28A745;
}
.Decline{
  position: absolute;
  width: 134px;
  height: 48px;
  left: 958px;
  top: 652px;

  background: #D63447;
}
.displayOn{
  display:block
}